body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 40, 80);
  background-blend-mode: multiply;
  font-family: "Bubblegum Sans", cursive;
  color: rgb(220, 200, 200);
  letter-spacing: 1px;
  word-spacing: 3px;
  animation: body-animate 3.618s ease-in-out;
  z-index: 2;
}

@keyframes body-animate {
  from {
    word-spacing: 34px;
  }
  to {
    word-spacing: 3px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.results {
  background-color: rgba(185, 255, 255, 0.62);
  width: 62%;
  margin: 0 auto;
  padding: 34px 13px;
  border-radius: 34px;
  color: rgb(0, 40, 80);
}

.results p {
  color: rgb(0, 40, 80);
}

.results strong {
  color: rgb(0, 40, 80);
}

.results h3 {
  color: rgb(0, 63, 101);
}

.results h5 {
  color: rgb(200, 200, 40);
  font-size: 34px;
  margin: 13px 0;
}

.results .results-percent {
  display: flex;
  justify-content: center;
  gap: 21px;
  color: rgb(220, 220, 220);
  font-size: 21px;
}

#win {
  color: rgb(200, 255, 40);
  border: 1px solid rgb(200, 255, 40);
}

#win h5 {
  color: rgb(200, 255, 40);
}

#lose {
  color: rgb(200, 200, 200);
  border: 1px solid rgb(200, 200, 200);
}

#lose h5 {
  color: rgb(200, 200, 200);
}

.results .results-percent div {
  margin: 0 auto;
  background-color: rgba(0, 25, 40, 0.62);
  border-radius: 13px;
  width: 23%;
  padding: 21px 21px 3px 21px;
}

header {
  position: relative;
  background-color: rgb(0, 25, 80);
  background-image: url("./images/bg-3.png");
  background-blend-mode: soft-light;
  padding: 34px;
  animation: animate-header-bg 1.618s ease-in;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 34px 0;
}

@keyframes animate-header-bg {
  from {
    background-color: rgb(0, 0, 25);
  }
  to {
    background-color: rgb(0, 25, 80);
  }
}

header img {
  mix-blend-mode: luminosity;
  margin-left: 34px;
  width: 144px;
  display: inline;
}

header h1 {
  margin: 21px auto;
  font-size: 89px;
  color: rgb(0, 0, 40);
  font-family: "Electrolize", sans-serif;
  letter-spacing: 21px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin-top: 0;
  background-color: rgb(0, 0, 40);
  font-family: "Electrolize", sans-serif;
  background-blend-mode: color-burn;
  border-bottom: 2px solid rgb(220, 200, 200);
}
h3 {
  color: rgb(220, 200, 200);
}
ul {
  margin: 0;
  padding: 8px;
}

li {
  list-style: disc;
  display: inline;
  padding: 0 34px 0 34px;
}

.home-services {
  text-align: start;
  position: relative;
}

.link {
  text-decoration: none;
  color: rgb(220, 220, 220);
  font-weight: bold;
  letter-spacing: 3px;
}

.icon {
  margin: 0 5px;
}

.link:hover {
  text-decoration: underline;
}

/* 
    
*/

.searchbar {
  padding: 13px 0;
  display: inline;
}
.searchbar button {
  font-family: "Electrolize", sans-serif;
  background-color: rgba(160, 185, 255, 0.62);
  border-radius: 3px;
  padding: 1px;
  font-size: 13px;
}

.searchbar input[type="text"] {
  border: 0;
  border-radius: 3px;
  width: 144px;
  margin: 0 8px;
}

article {
  margin: 34px auto;
  width: 80%;
  border: 1px solid rgb(200, 200, 200);
  background-blend-mode: luminosity;
  background-color: rgba(0, 0, 40, 0.62);
  background-size: cover;
  background-position-x: -233;
  border-radius: 21px;
  padding: 34px 21px 34px 21px;
  grid-template-columns: 1fr 5fr;
}

button {
  border: 1px solid rgb(40, 40, 40);
  background-color: rgba(185, 255, 40, 0.62);
  padding: 13px 8px;
  color: rgb(40, 40, 40);
  font-family: "Bubblegum Sans", cursive;
  font-size: 21px;
  border-radius: 13px;
}

button:active {
  background-color: rgba(185, 255, 255, 0.62);
}

.question {
  background-color: rgba(101, 185, 255, 0.62);
  width: 61.8%;
  padding: 1px 21px 34px 34px;
  margin: 8px auto;
  text-align: start;
  border-radius: 13px;
  word-spacing: 13px;
  line-height: 55px;
}

.question h3 {
  color: rgb(0, 25, 63);
  text-shadow: 3px 3px 13px rgb(0, 0, 25);
}

.question .radios {
  margin: 0 auto;
  text-align: center;
}

.question .radios h6 {
  color: rgb(0, 40, 80);
  font-size: 21px;
  display: inline;
  margin: 0 8px;
}

#question-number {
  margin: 21px auto;
  color: rgb(0, 0, 40);
  letter-spacing: 5px;
  font-size: 21px;
}

.buttons button {
  margin: 13px 13px 34px 13px;
  background-color: rgba(255, 255, 40, 0.62);
  padding: 8px 21px;
}
.buttons button:active {
  background-color: rgba(185, 255, 255, 0.62);
}
input[type="radio"] {
  appearance: none;
  background-color: rgb(0, 40, 80);
  margin: 0 5px;
  font: inherit;
  color: currentColor;
  width: 21px;
  height: 21px;
  border: 1px solid currentColor;
  border-radius: 50%;
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
input[type="radio"]:focus {
  background-color: rgba(255, 185, 40);
}
.home-page article {
  position: relative;
  margin: 89px auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.62);
  background-size: cover;
  background-position-x: -233;
  border-radius: 21px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.background-image {
  z-index: -1;
  left: 0;
  mix-blend-mode: luminosity;
  width: 61.8%;
  padding: 0;
  margin: 0;
}

.home-page h1 {
  margin: 34px;
  color: rgb(0, 40, 80);
  letter-spacing: 5px;
  word-spacing: 13px;
}

.home-services {
  margin: 89px 0;
  grid-column: 1/3;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 21px;
  background-color: rgba(0, 0, 40, 0.62);
}

.home-services li {
  font-size: 18px;
  list-style: disc;
  display: block;
  margin: 21px 0;
}
.home-services ul {
  font-size: 18px;
  list-style: disc;
  display: block;
  margin: 21px 0;
}

.checkmark {
  margin: 0 34px;
  color: rgb(200, 255, 40);
}
footer {
  background-color: rgb(0, 0, 40);
  padding: 21px;
  font-family: "Electrolize", sans-serif;
}

article p {
  line-height: 34px;
  word-spacing: 5px;
  letter-spacing: 0;
  color: rgb(0, 0, 40);
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
  text-shadow: 3px 3px 13px rgb(0, 0, 25);
}

article img {
  margin-top: 21px;
  border-radius: 21px;
  mix-blend-mode: normal;
}

article div {
  padding: 0 21px;
  margin: 0;
  background-blend-mode: hard-light;
}

article h3 {
  font-family: "Bubblegum Sans", cursive;
  letter-spacing: 8px;
  font-size: 34px;
  color: rgb(0, 40, 80);
}

header h1,
header img {
  opacity: 1;
  animation: animate-heading 3.618s ease-in-out;
}

.home-page img {
  margin: 21px auto;
  grid-column: 1/3;
}

.home-intro {
  grid-column: 1/3;
}

@keyframes animate-heading {
  from {
    letter-spacing: 34px;
  }
  to {
    letter-spacing: 21px;
  }
}

.home-page span {
  color: rgb(185, 200, 40);
}

.home-page em {
  text-decoration: underline;
}

#services-background {
  position: absolute;
  z-index: -1;
  overflow: auto;
  top: 0;
  mix-blend-mode: hard-light;
}

.home-services h3 {
  text-align: center;
}

.intro-title {
  font-family: "Electrolize", sans-serif;
  word-spacing: 8px;
  letter-spacing: 0;
}
