body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/bg-1.jpg');
  background-color: rgb(25,101,160);
  background-blend-mode: multiply;
  font-family: 'Bubblegum Sans', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position:relative;
  background-color: rgb(0,25 ,40);
  background-image: url('./images/bg-4.png');
  background-blend-mode: luminosity;
  color:aliceblue;
  margin: 0px;
  padding:34px;
}

header img {

  mix-blend-mode: luminosity;
  margin-left:34px;
  width: 144px;
  display: inline;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

header h1 {
  margin:21px auto;
  font-size:89px;
  color: rgb(25,63,101);
  font-family: 'Electrolize', sans-serif;
  letter-spacing: 21px;
}

nav {
  position:relative;
  top: 0;
  margin-top: 0;
  background-color: rgb(95,154,230);
  background: url('./images/bg-1.jpg');
  background-blend-mode: color-burn;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

ul{
  margin:0;
  padding:8px;
}

li {
  list-style: none;
  display: inline;
  padding:0 34px 0 34px;

}

.link {
  text-decoration: none;
  color:rgb(40,40,0);
  font-weight: bold;
  letter-spacing: 3px;
}

/* 
    
*/

article {
  margin:34px auto;
  width:80%;
  background: url('./images/bg-1.jpg');
  background-color: rgb(0,0,40);
  background-blend-mode: luminosity;
  background-size: cover;
  background-position-x: -233;
  border-radius: 21px;
  padding: 34px 21px 34px 21px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  box-shadow: 3px 3px 21px #000;

}

.home-page h1 {
    margin: 34px;
    color: rgb(255,255,255);
    letter-spacing: 5px;
    word-spacing: 13px;
}


article p {
  line-height: 34px;
  word-spacing: 5px;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
}

article img {
  margin-top: 21px;
  width:133px;
}

article div {
  padding: 0 21px;
  margin:0;
  background-blend-mode: hard-light;
}

article h3 {
  font-family: 'Bubblegum Sans', cursive;
  letter-spacing: 8px;
  font-size: 34px;
}